@model IEnumerable<Web.Models.NewsViewModel>

<div class="card">
    <div class="card-body">
        <div class="list-product-header">
            <div>
                <div class="light-box">
                    <a data-bs-toggle="collapse" href="list-products.html#collapseProduct"
                       role="button" aria-expanded="false" aria-controls="collapseProduct">
                        <i class="filter-icon show"
                           data-feather="filter"></i><i class="icon-close filter-close hide"></i>
                    </a>
                </div>
                <a class="btn btn-primary" href="@Url.Action("AddNews", "News")"><i class="fa fa-plus"></i>Add News</a>
            </div>
            <div class="collapse" id="collapseProduct">
                <div class="card card-body list-product-body">
                    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2 g-3">
                        <div class="col">
                            <select class="form-select" aria-label="Default select example">
                                <option selected="">Date To</option>

                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" aria-label="Default select example">
                                <option selected="">Date From</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-product">
            <table class="table" id="project-status">
                <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input checkbox-primary" type="checkbox">
                            </div>
                        </th>
                        <th> <span class="f-light f-w-600">Title</span></th>
                        <th> <span class="f-light f-w-600"> Date Post </span></th>
                        <th> <span class="f-light f-w-600"> Action </span></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@item.Title</td>
                            <td>@item.PublishedDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                <div class="product-action">
                                    <a href="Edit/@item.IdNew" class="btn btn-primary">Edit</a>
                                    <a href="javascript:void(0);" class="btn btn-secondary" onclick="confirmDelete('@item.IdNew')">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function confirmDelete(id) {
        if (confirm('Are you sure you want to delete this item?')) {
            // Redirect to the delete action with the item Id
            window.location.href = '@Url.Action("Delete", "News")/' + id;
        }
    }
</script>