@model IEnumerable<Web.Models.CardViewModel>

@{
    ViewData["Title"] = "card management";
}

<form method="get" asp-action="Index">
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" name="searchInput" />
    <button type="submit">Search</button>
</form>

<form method="get" asp-action="Index">
    <div class="filter-container">
        <label for="sort">Sort By Date:</label>

        <label for="dateFrom">From:</label>
        <input type="date" id="dateFrom" name="dateFrom">

        <label for="dateTo">To:</label>
        <input type="date" id="dateTo" name="dateTo">

        <button type="submit">Sort & Filter</button>
    </div>
</form>

<p>
    <a asp-action="CreateCard">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComboName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComboName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <p>No cards found matching your search criteria.</p>
    }
</table>